body {
    margin-left: 5%;
}

label {
    display: inline-block;
    width: 7%;
    text-align:left;
    vertical-align: top;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    display: inline-block;
    width: 10%;
    height: 20px;
}

select {
    display: inline-block;
    width: 5%;
    height: 25px;
}

input[type="submit"] {
    margin-left: 7%;
}